h1 {
  color: #9185f2;
}

.container {
  background-color: #85b0f1;
}

body {
  color: #f08585;
}

.navbar {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/1/1a/H-Caracas_Sur.png");
}

.login {
  float: right;
}
